{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_cpdlogbook/entrydetails

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "name": "Reading",
        "completiondate": "Fri, 3 Dec 2021",
        "points": 3,
        "duration": "1 hour",
        "location": "Brisbane",
        "summary": "<div>I read a lot of things.<br><a href=\"https://place.com\">https://place.com</a></div>",
        "provider": "UNE",
    }
}}

<div>
    <div class="row">
        <div class="col-md-8">
            <div class="mb-5">
                <h4>{{& summary }}</h4>
            </div>

            <div class="mb-5">
                <h2 class="ml-3">{{#str}} reflection, mod_cpdlogbook {{/str}}</h2>
                <div class="card p-2">{{& reflection }}</div>
            </div>

            <div class="mb-5">
                <h2 class="ml-3">{{#str}} evidence, mod_cpdlogbook {{/str}}</h2>
                <div class="card p-2">
                    {{#files}}
                    <div>
                        <a class="link-primary" href="{{ url }}">{{ filename }}</a>
                    </div>
                    {{/files}}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card px-3 pt-3 mb-5">
                <h3 class="ml-3">{{#str}} details {{/str}}</h3>
                <p>
                    <b>{{#str}} points, mod_cpdlogbook {{/str}}:</b> {{ points }} <br>
                    <b>{{#str}} duration, mod_cpdlogbook {{/str}}:</b> {{ duration }} <br>
                    <b>{{#str}} completiondate, mod_cpdlogbook {{/str}}:</b> {{ completiondate }}
                </p>
            </div>

            <div class="card px-3 pt-3">
                <h3 class="ml-3">{{#str}} provider, mod_cpdlogbook {{/str}} {{#str}} info {{/str}}</h3>
                <p>
                    <b>{{#str}} provider, mod_cpdlogbook {{/str}}:</b> {{ provider }} <br>
                    <b>{{#str}} location, mod_cpdlogbook {{/str}}:</b> {{ location }}
                </p>
            </div>
        </div>
    </div>
</div>
